# Created by venv; see https://docs.python.org/3/library/venv.html

# Ignore Firebase secret
backend/serviceAccountKey.json

# Virtual environments
advisorenv/
venv/
genenv/
env/

# Node modules
node_modules/

# Python cache
__pycache__/
*.pyc

backend/electric-medium-472710-f8-f591187ebed6.json

backend/.env

roadmap/key.json
mentor/.env

# OS and IDE files
.DS_Store
*.log
*.tmp
*.swp
.vscode/
.idea/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
.env
.env.local

# Python
__pycache__/
*.pyc
venv/
.env/
.envrc

# React / Frontend
dist/
build/
.cache/
coverage/

# Google Cloud / Credentials
*.json
*.pem
*.p12
credentials.json
service-account.json

# Other
*.sqlite3
*.db
*.zip
*.tar
*.gz


resume/key.json
resume/key.json
resume/key.json
