# Created by venv; see https://docs.python.org/3/library/venv.html

# Ignore Firebase secret
backend/serviceAccountKey.json

# Virtual environments
advisorenv/
venv/
genenv/
env/

# Node modules
node_modules/

# Python cache
__pycache__/
*.pyc

backend/electric-medium-472710-f8-f591187ebed6.json

backend/.env

roadmap/key.json
mentor/.env


