langchain
langchain-core
langchain-google-vertexai
langgraph
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
python-dotenv
pydantic
vertexai
fastapi
uvicorn
fastapi
uvicorn[standard]
google-cloud-aiplatform
google-cloud-bigquery
requests
python-multipart
aiofiles